@page "/"
@using System;
@using Grpc.Core;
@using Grpc.Net.Client;
@using PerfRunner.V1;
@inject IConfiguration Configuration
@inject ILogger<Index> Logger

<PageTitle>Index</PageTitle>
<environment include="Development">
    <div>Environment is Development</div>
</environment>
<!-- environment exclude="Development">
    <div>Environment is NOT Development</div>
</environment>
<environment include="Staging,Development,Staging_2">
    <div>Environment is: Staging, Development or Staging_2</div>
</environment -->

<h1>Hello, world!</h1>

Welcome to Perf Loader.

<SurveyPrompt Title="How is Blazor working for you?" />
<EditForm Model="@TestRequest">
    <InputText @bind-Value=TestRequest.Name></InputText>

    <InputNumber @bind-Value=TestRequest.Rate></InputNumber>

Actions: 
@foreach (var item in TestRequest.Actions)
{
    <br>
    <label>Name: @item.Name</label>
    <label>Rate: @item.Rate</label>
}
<br>
 <InputText @bind-Value=TestRequest.Actions.Last().Name></InputText>
 <InputNumber @bind-Value=TestRequest.Actions.Last().Rate></InputNumber>   
 <InputSelect @bind-Value=TestRequest.Actions.Last().LoadDistribution>
 <option value="@LoadDistribution.Even">Even</option>
 <option value="@LoadDistribution.Uneven">Uneven</option>
 </InputSelect>   
 <!-- InputDate @bind-Value=TestRequest.Actions.Last().Duration></InputDate -->
 <button @onclick="() => TestRequest.Actions.Add(TestRequest.Actions.Last())">+</button>   
 <button @onclick="() => TestRequest.Actions.RemoveAt(TestRequest.Actions.Count - 1)">-</button>
 <button @onclick="() => StartTestAsync()">Start Test</button>

 <button @onclick="() => StopAllTestsAsync()">Stop All Tests</button>
</EditForm>

Running Tests:
@foreach (var item in RunningTests)
{
 <br>
 <label>@item.Guid</label>
 <button @onclick="() => StopTest(item.Guid)">Stop</button>
}
<br>
<br>

<h3>Monitoring Tests</h3>
@foreach (var item in RunningTests)
{
 <br>
 <label>Guid - @item.Guid</label>
 <br>
 <label>Name - @item.Name</label>
 <br>
 <label>Rate - @item.Rate</label>
 <!-- InputNumber @bind-Value=@item.Rate></InputNumber -->   
 <br>
 <h6>Actions</h6>

 @foreach (var item_ in item.Actions)
 {
 <!-- EditForm Model="@_actionOption" OnValidSubmit="(item.Guid) => HandleUpdateAction(item.Guid)" -->

        <label>Guid - @item_.Guid</label>  
 <br>
        <label>Name - @item_.Name</label>  
 <br>
        <input value=@item_.Rate @onchange="(e) => HandleUpdateAction(item_.Guid, ActionOptionUpdated.Rate, item.Guid, e)" />
 <br>
        <label>Duration - @item_.Duration</label>  
        <!-- Input @bind-Value=item_.Duration></InputNumber -->   
        <input value=@item_.Duration @onchange="(e) => HandleUpdateAction(item_.Guid, ActionOptionUpdated.Duration, item.Guid, e)" />
 <br>
        <label>Load Distribution - @item_.LoadDistribution</label>  
        <select value="@item_.LoadDistribution" @onchange="(e) => HandleUpdateAction(item_.Guid, ActionOptionUpdated.Distribution, item.Guid, e)">
            <option value="@LoadDistribution.Even">Even</option>
            <option value="@LoadDistribution.Uneven">Uneven</option>
        </select>   
 <br>
    <label>Paused:</label>
        <input value=item_.Paused type="checkbox" @onchange="(e) => HandleUpdateAction(item_.Guid, ActionOptionUpdated.Paused, item.Guid, e)" / -->
 <br>
 }
 <br>
 <button @onclick="() => StopTest(item.Guid)">Stop</button>
}
 <br>
 <button @onclick="() => CheckTests()">CheckTests</button>
 <br>
 <button @onclick="() => MonitorAllTestsAsync(StateHasChanged)">MonitorAllTests</button>

@code {

    // Actions.Add(new ActionOption() { Name = "Login"}});

    // private static Perf.PerfClient _perfClient = new Perf.PerfClient(GrpcChannel.ForAddress(Configuration["PerfRunner"]));
    private static Perf.PerfClient _perfClient = new Perf.PerfClient(GrpcChannel.ForAddress("http://localhost:5277"));

    private ActionOption _actionOption;

    private UpdateAction _updateAction = new UpdateAction();

    private TestRequest TestRequest { get; set; }

    private Perf.PerfClient PerfClient { get => _perfClient; set => _perfClient = value; }

    private ActionOption ActionOption { get => _actionOption; set => _actionOption = value; }

    private CancellationToken _cancellationToken;// = new CancellationToken();

    private static IList<TestRequest> RunningTests { get; set; } = new List<TestRequest>();

    protected override void OnInitialized()
    {
        NewTest();

        /*
        actionOption = new ActionOption() { Name = "Login1",
        Rate = 1, Guid = Guid.NewGuid().ToString() };
        testRequest.Actions.Add(actionOption);*/

        // var host_ = "http://localhost:5277";
        // var channel = GrpcChannel.ForAddress(host_);

        _cancellationToken = new CancellationToken();
        // PerfClient = new Perf.PerfClient(channel);
        Logger.LogInformation("Running initialized!");

        // if(RunningTests.Count > 0)
        {
            CheckTests();
        }
    }

    public class UpdateAction
    {
        public ActionOption ActionOption { get; set; }

        public string TestGuid { get; set; }
    }

    private async Task HandleUpdateAction(string actionGuid, ActionOptionUpdated actionOptionUpdated, string testGuid, EventArgs e)
    // private async Task HandleUpdateAction(EditContext editContext)
    {
        // var testGuid = "test";

        try
        {
            // Logger.LogInformation("Updating test " + _updateAction.TestGuid);
            if(e is ChangeEventArgs ce)
            {
                Logger.LogInformation("Updating action " + actionGuid);

                // var action = (UpdateAction)editContext.Model;
                var updateAction = new UpdateActionRequest()
                    {
                        // Guid = action.TestGuid,
                        TestGuid = testGuid,
                        // TestGuid = _updateAction.TestGuid,
                        ActionGuid = actionGuid,
                        ActionOptionUpdate = actionOptionUpdated,
                        UpdateValue = (string) ce.Value.ToString()
                    };

                // not wait for task to complete
                var rep = PerfClient.UpdateActionAsync(updateAction);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError("Update action failed " + ex.Message);
        }
    }

    private void NewTest()
    {

        TestRequest = new TestRequest() 
        { 
            Name = "Test Name", 
            Guid = Guid.NewGuid().ToString(), 
            Rate = 3, 
            Duration = Google.Protobuf.WellKnownTypes.Duration.FromTimeSpan(TimeSpan.FromSeconds(10))
        };

        _actionOption = new ActionOption()
            {
                Name = "Login",
                Rate = 6,
                // Duration = Google.Protobuf.WellKnownTypes.Duration.FromTimeSpan(TimeSpan.FromSeconds(10)),
                // Duration = Google.Protobuf.WellKnownTypes.Duration.FromTimeSpan(TimeSpan.MaxValue),
                Guid = Guid.NewGuid().ToString(),
            };

        // Logger.LogInformation("Action " + _actionOption.Guid);

        TestRequest.Actions.Add(_actionOption);
        _updateAction.ActionOption ??= _actionOption;

        _actionOption = new ActionOption()
            {
                Name = "PlayBowling",
                Rate = 3,
                // Duration = Google.Protobuf.WellKnownTypes.Duration.FromTimeSpan(TimeSpan.FromSeconds(16)),
                // Duration = Google.Protobuf.WellKnownTypes.Duration.FromTimeSpan(TimeSpan.MaxValue),
                Guid = Guid.NewGuid().ToString()
            };

        // Logger.LogInformation("Action " + _actionOption.Guid);

        TestRequest.Actions.Add(_actionOption);

        _updateAction.ActionOption ??= _actionOption;
        _updateAction.TestGuid ??= TestRequest.Guid;

/*
        actionOption = new ActionOption()
            {
                Name = "LoginGrpc",
                Rate = 3,
                Guid = Guid.NewGuid().ToString()
            };
        TestRequest.Actions.Add(actionOption);*/
    }

    private async void StartTestAsync()
    {
        Logger.LogInformation("Starting test " + TestRequest.Guid);

        // not wait for task to complete
        var rep = PerfClient.RunTestAsync(TestRequest);
        RunningTests.Add(TestRequest);

        NewTest();
   }

    private void StopTest(string guid)
    {
        var rep = PerfClient.StopTestAsync(new StopTestRequest { Guid = guid });
        
        // StateHasChanged();
        // RunningTests.Remove(test => test.Guid.Equals(guid));
        RunningTests.Remove(RunningTests.Where(test => test.Guid.Equals(guid)).First());
    }

    private async void StopAllTestsAsync()
    {
        foreach (var item in RunningTests)
        {
            Logger.LogInformation("Stopping test " + item);

            // not wait for task to complete
            var rep = PerfClient.StopTestAsync(new StopTestRequest { Guid = item.Guid });
            // RunningTests.Remove(item);
        }

        RunningTests.Clear();
    }

    private void CheckTests()
    {
        try
        {
            var res = PerfClient.RunningTests(new RunningTestsRequest());
            RunningTests = res.Tests;
        }
        catch (System.Exception exc)
        {
            Logger.LogError($"Unable to fetch tests - {exc.Message}");
        }
    }

    private async void MonitorAllTestsAsync(Action state)
    {
        var cancelToken = new CancellationTokenSource();

        Parallel.ForEach(RunningTests, async item =>
        {
            Logger.LogInformation("Monitoring test " + item);
            // Action someAction;

            try
            {

                // not wait for task to complete
                using var resp = PerfClient.MonitorTest(new MonitorTestRequest { Guid = item.Guid }, cancellationToken:
    cancelToken.Token);

                await foreach (var item_ in resp.ResponseStream.ReadAllAsync(cancelToken.Token))
                {
                    var resp_ = item_;
                    Logger.LogInformation($"Test is {item_.Name} .");
                    state?.Invoke();
                    // cancelToken.Cancel();
                }

                // await resp;
                // var str = resp.ResponseStream;
                // var rep = resp.ResponseStream.ReadAllAsync(_cancellationToken);
                // RunningTests = (List<TestRequest>) rep;
            }
            catch (InvalidOperationException ex)
            {
                Logger.LogDebug($"Monitor failed for test {item.Name} with {ex.Message}.");
                RunningTests.Remove(item);
            }
            catch (System.Exception ex)
            {
                Logger.LogDebug($"Monitor failed for test {item.Name} with {ex.Message}.");
                RunningTests.Remove(item);
                // throw;
            }

            // cancelToken.Cancel();
            // var can = new CancellationTokenSource();
            // can.Cancel();
            /*
            foreach (var item in resp.ResponseStream.ReadAllAsync(_cancellationToken))
            {

            }*/
            // RunningTests.Remove(item);
        });

        // RunningTests.Clear();
    }
}

