@page "/"
@using Grpc.Net.Client;
@using PerfRunner.V1;
@inject ILogger<Index> Logger

<PageTitle>Index</PageTitle>
<environment include="Development">
    <div>Environment is Development</div>
</environment>
<!-- environment exclude="Development">
    <div>Environment is NOT Development</div>
</environment>
<environment include="Staging,Development,Staging_2">
    <div>Environment is: Staging, Development or Staging_2</div>
</environment -->

<h1>Hello, world!</h1>

Welcome to Perf Loader.

<SurveyPrompt Title="How is Blazor working for you?" />
<EditForm Model="@TestRequest">
    <InputText @bind-Value=TestRequest.Name></InputText>

    <InputNumber @bind-Value=TestRequest.Rate></InputNumber>

Actions: 
@foreach (var item in TestRequest.Actions)
{
    <br>
    <label>Name: @item.Name</label>
    <label>Rate: @item.Rate</label>
}
<br>
 <InputText @bind-Value=TestRequest.Actions.Last().Name></InputText>
 <InputNumber @bind-Value=TestRequest.Actions.Last().Rate></InputNumber>   
 <!-- InputNumber @bind-Value=item.Duration></InputNumber -->
 <button @onclick="() => TestRequest.Actions.Add(TestRequest.Actions.Last())">+</button>   
 <button @onclick="() => TestRequest.Actions.RemoveAt(TestRequest.Actions.Count - 1)">-</button>
 <button @onclick="() => StartTestAsync()">Start Test</button>

 <button @onclick="() => StopAllTestsAsync()">Stop All Tests</button>
</EditForm>

Running Tests:
@foreach (var item in RunningTests)
{
 <br>
 <label>@item.Guid</label>
 <button @onclick="() => StopTest(item.Guid)">Stop</button>
}
<br>
<br>

<h3>Monitoring Tests</h3>
@foreach (var item in RunningTests)
{
 <br>
 <label>Guid - @item.Guid</label>
 <br>
 <label>Name - @item.Name</label>
 <br>
 <label>Rate - @item.Rate</label>
 <br>
 <h6>Actions</h6>
 @foreach (var item_ in item.Actions)
 {
        <label>Guid - @item_.Guid</label>  
 <br>
        <label>Name - @item_.Name</label>  
 <br>
        <label>Rate - @item_.Rate</label>  
 <br>
        <label>Duration - @item_.Duration</label>  
 <br>
 }
 <br>
 <button @onclick="() => StopTest(item.Guid)">Stop</button>
}
 <br>
 <button @onclick="() => CheckTests()">CheckTests</button>

@code {

    private TestRequest TestRequest { get; set; }
    // Actions.Add(new ActionOption() { Name = "Login"}});

    private Perf.PerfClient PerfClient { get; set; }

    private IList<TestRequest> RunningTests { get; set; } = new List<TestRequest>();

    protected override void OnInitialized()
    {
        NewTest();
        
        /*
        actionOption = new ActionOption() { Name = "Login1",
        Rate = 1, Guid = Guid.NewGuid().ToString() };
        testRequest.Actions.Add(actionOption);*/
        var host_ = "http://localhost:5277";
        var channel = GrpcChannel.ForAddress(host_);
        PerfClient = new Perf.PerfClient(channel);

        if(RunningTests.Count <= 0)
        {
            CheckTests();
        }
    }

    private void NewTest()
    {

        TestRequest = new TestRequest() { Name = "Test Name", Guid = Guid.NewGuid().ToString(), Rate = 3 };

        ActionOption actionOption = new ActionOption()
            {
                Name = "Login",
                Rate = 3,
                Guid = Guid.NewGuid().ToString()
            };
        TestRequest.Actions.Add(actionOption);

        actionOption = new ActionOption()
            {
                Name = "PlayBowling",
                Rate = 6,
                Guid = Guid.NewGuid().ToString()
            };
        TestRequest.Actions.Add(actionOption);

/*
        actionOption = new ActionOption()
            {
                Name = "LoginGrpc",
                Rate = 3,
                Guid = Guid.NewGuid().ToString()
            };
        TestRequest.Actions.Add(actionOption);*/
    }

    private async void StartTestAsync()
    {
        Logger.LogInformation("Starting test " + TestRequest.Name);

        // not wait for task to complete
        var rep = PerfClient.RunTestAsync(TestRequest);
        RunningTests.Add(TestRequest);

        NewTest();
   }

    private void StopTest(string guid)
    {
        var rep = PerfClient.StopTestAsync(new StopTestRequest { Guid = guid });
        
        // StateHasChanged();
        // RunningTests.Remove(test => test.Guid.Equals(guid));
        RunningTests.Remove(RunningTests.Where(test => test.Guid.Equals(guid)).First());
    }

    private async void StopAllTestsAsync()
    {
        foreach (var item in RunningTests)
        {
            Logger.LogInformation("Stopping test " + item);

            // not wait for task to complete
            var rep = PerfClient.StopTestAsync(new StopTestRequest { Guid = item.Guid });
            // RunningTests.Remove(item);
        }

        RunningTests.Clear();
    }

    private void CheckTests()
    {
        try
        {
            var res = PerfClient.RunningTests(new RunningTestsRequest());
            RunningTests = res.Tests;
        }
        catch (System.Exception exc)
        {
            Logger.LogError($"Unable to fetch tests - {exc.Message}");
        }
    }

    private async void MonitorAllTestsAsync()
    {
        Parallel.ForEach(RunningTests, item =>
        {
            Logger.LogInformation("Monitoring test " + item);

            // not wait for task to complete
            var rep = PerfClient.MonitorTest(new MonitorTestRequest { Guid = item.Guid });
            // RunningTests.Remove(item);
        });

        RunningTests.Clear();
    }
}

